<div class="page-title" style="padding: 2px 36px 25px 0!important">
    <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">Manage Location</span> - Add/Edit Location     
    </h4>
</div>

<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">Add/Edit Location</h6>
        <div class="heading-elements">
            <ul class="icons-list"></ul>
        </div>
    </div>
    <form>
        <div class="row mt-15 pl-15">
            <div class="col-sm-12">
                <div class="col-md-3">
                    <label>Location Id:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-1 pt-5">
                    <label></label>
                    <div class="form-group">
                        <input type="button" name="name" value="Make ID" class="form-control btn-primary">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label>Name1:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Name2:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Street1:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Street2:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <label>City:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <label>State:</label>
                    <div class="form-group">
                        <select name="state" data-placeholder="Select" class="form-control">
                            <option value="">Select an Option</option>
                            <option value="1">AB</option>
                            <option value="2">AK</option>
                            <option value="3">AL</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Zip:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Phone No.:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Phone No2.:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Fax No:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <label>Department:</label>
                    <div class="form-group">
                        <select name="state" data-placeholder="Select" class="form-control">
                            <option value="">Select an Option</option>
                            <option value="1">Department1</option>
                            <option value="2">Department2</option>
                            <option value="3">Department3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Contact:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Email:</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <label>Send Request:</label>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled" checked="checked">
                            Fax
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Mail
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Email
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Upload
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Request Sent:</label>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="radio-inline-left" class="styled" checked="checked">
                            None
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio-inline-left" class="styled">
                            Process Server
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio-inline-left" class="styled">
                            Process Server
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Disable This Location:</label>
                    <div class="form-group">
                        <input type="checkbox" name="rdDisableLocation" class="styled">
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Common Location:</label>
                    <div class="form-group">
                        <input type="checkbox" name="rdCommonLocation" class="styled" checked="checked">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <label>Records that can be Requested:</label>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled" checked="checked">
                            Medical
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Billing
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Films
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Pathology
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Employment
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Academic
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Copy Service
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Fee Amount to Send with Request
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Requires Original Authorization
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Location Specific Authorization
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Location Specific Requests
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label>Authorization Dated within:</label>
                    <div class="form-group">
                        <input type="text" name="textAuthorizationDateWithin" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Linked Locations:</label>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Billing
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Medical
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="styled">
                            Films
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Warning:</label>
                    <div class="form-group">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Notes:</label>
                    <div class="form-group">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary btn-xlg" data-toggle="modal" data-target="#modal_merge_locations"><i class="icon-add position-left"></i>Merge Locations</button>
                </div>
            </div>
            <div class="col-md-12 mb-20">
                <div class="col-md-2 pull-right">
                    <button type="button" class="btn btn-link">Back</button>
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>
    </form>

    <div id="modal_merge_locations" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-mian">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Merge Locations</h5>
                </div>
                <form action="#" class="form-horizontal">
                    <div class="modal-body">
                        <div class="row">
                            <div class="panel-body">
                                <div class="row">                                 
                                    <div class="col-md-12 no-padding">
                                        <div class="panel-group panel-group-control panel-group-control-right">
                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <a class="wd-full" data-toggle="collapse" href="#SearchPanel">
                                                            <i class="icon-search4 position-left"></i> <b class="text-bold pt-0" style="text-transform:uppercase;">Advanced Search</b>
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div id="SearchPanel" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">
                                                                    <label>ID:</label>
                                                                    <div class="form-group no-margin">
                                                                        <input type="text" name="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label>Name:</label>
                                                                    <div class="form-group no-margin">
                                                                        <input type="text" name="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label>Phone No:</label>
                                                                    <div class="form-group no-margin">
                                                                        <input type="text" name="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label>Department:</label>
                                                                    <div class="form-group no-margin">
                                                                        <input type="text" name="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 mt-5">
                                                                <div class="col-md-3">
                                                                    <label>Address:</label>
                                                                    <div class="form-group no-margin">
                                                                        <input type="text" name="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label>City:</label>
                                                                    <div class="form-group no-margin">
                                                                        <input type="text" name="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label>State:</label>
                                                                    <div class="form-group no-margin">
                                                                        <input type="text" name="name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 mt-10">
                                                                    <label></label>
                                                                    <div class="form-group no-margin">
                                                                        <button class="btn btn-primary mr-5">Clear</button>
                                                                        <button class="btn btn-primary">Search</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                                                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pb-0 mb-0">
                                            <div class="table-responsive table-grid">
                                                <table class="table table-striped table-bordered table-framed">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" class="styled cursor-pointer" /></th>
                                                            <th>Location Id</th>
                                                            <th>Name</th>                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><input type="checkbox" class="styled cursor-pointer" /></td>
                                                            <td>
                                                                00000001
                                                            </td>
                                                            <td>
                                                                10 & Hoover Sunoco, LLC,
                                                            </td>
                                                                                                                      
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>