
<div class="page-content" ng-controller="CompanyController">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title text-semibold"><i class="icon-store mr-10 fs-19"></i>Manage Company</h4>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-if="isSubModuleAccessibleToUser('Settings', 'Company', 'Add Company')"> <a  ui-sref="EditCompany({CompNo:0})" class="blue_link">[ + Add Company ]</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group pb-0 mb-0">
                        <div class="table-responsive table-grid">
                            <table class="table table-bordered table-framed" id="tblCompany"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

