<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<div class="page-content" ng-controller="LogController" ng-init="createDatePicker()">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title text-semibold"><i class="icon-folder6 mr-10 fs-19"></i>Log Details</h4>
            <div class="heading-elements">
                @*<ul class="icons-list">
                    <li ng-if="isSubModuleAccessibleToUser('Settings', 'Log', 'Export Log')"> <a href="#" class="blue_link">[ + Export ]</a></li>
                </ul>*@
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 search-panel">
                    <div class="panel no-border-radius panel-body pnl-back-grey">
                        <div class="col-md-2">
                            <div class="input-group myDatePicker date">
                                <input type="text" class="form-control" name="FromDate" placeholder="From Date" ng-model="log.fromDate">
                                <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group myDatePicker date">
                                <input type="text" class="form-control"
                                       name="ToDate" placeholder="To Date" ng-model="log.toDate">
                                <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                        @*DepartmentList*@
                        <div class="col-md-2">
                            <div class="form-group" ng-if="hasAccessToViewOthersLog">
                                @*<select class="form-control" id="ddl_DepartmentId" ng-options="item.DepartmentId as item.Department for item in DepartmentList" ng-model="log.DepartmentId">
                    <option value="0">--Select Department--</option>
                </select>*@
                                <select class="form-control cls-Department" id="ddl_DepartmentId" name="ddl_DepartmentId" ng-change="Department_Change()" data-live-search="true" data-width="100%" data-size="15" ng-model="log.DepartmentId" required="required" ng-options="item.DepartmentId as item.Department for item in DepartmentList"></select>
                                @*<div  custom-select="item.DepartmentId as item.Department for item in DepartmentList | filter: $searchTerm" ng-model="log.DepartmentId"></div>*@
                            </div>
                        </div>
                        @*<div id="ddl_assignedTo" multiple custom-select="item.UserId as (item.EmployeeName+' ('+item.LogCount+')') for item in EmployeeList | filter: $searchTerm" ng-model="log.UserId"></div>*@
                        <div class="col-md-2" ng-if="hasAccessToViewOthersLog && false">
                            <div class="form-group">
                                <select class="form-control cls-assignedTo" id="ddl_assignedTo" name="ddl_assignedTo" data-live-search="true" data-width="100%" data-size="15" ng-model="log.UserId" required="required" ng-options="item.UserId as  item.EmployeeName for item in EmployeeList">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary mr-5" ng-click="searchLogClick();">Search</button>
                            <button type="button" class="btn btn-default" ng-click="resetDataClick();">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="showEmployeeLogCount">
                <div class="col-md-12">
                    <div class="form-group pb-0 mb-0">
                        <div class="table-responsive table-grid">
                            <table class="table table-bordered table-framed" id="tblEmployeeLogCount"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="showOnlyLoginUserLog">
                <div class="col-md-12">
                    <div class="form-group pb-0 mb-0">
                        <div class="table-responsive table-grid">
                            <table class="table table-bordered table-framed" id="tblEmployeeLog"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap-select.js"></script>


