<div class="page-content" ng-controller="SSNController">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title text-semibold"><i class=" icon-wrench mr-10 fs-19"></i>Manage SSN Settings</h4>
            @*<div class="heading-elements">
                    <ul class="icons-list">
                        <li> <a ng-click="GetCourtDetail(0)" href="#" class="blue_link">[ + Add Court ]</a></li>
                    </ul>
                </div>*@
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group pb-0 mb-0">
                        <div class="table-responsive table-grid">
                            <table class="table table-bordered table-framed" id="tblSSN"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>