<div class="panel panel-white cls-box" ng-init="createDatePicker()">
    <div class="panel-heading">
        <h4 class="panel-title text-semibold"><i class="icon-clipboard3 position-left"></i>Notes</h4>
        <div class="heading-elements">
            <ul class="icons-list mt-0">
                <li class="mr-5">
                    <button type="button" class="btn btn-primary pull-right" title="Add Note" ng-if="RoleName!='Attorney'" ng-click="AddPartNotePopUp()"><i class="icon-copy mr-5 font-12"></i> Add </button>
                    <button type="button" class="btn btn-primary pull-right" title="Add Note" ng-if="RoleName == 'Attorney'" ng-click="AddClientPartNotePopUp()"><i class="icon-copy mr-5 font-12"></i>Add</button>
                    <button type="button" class="btn btn-primary pull-right mr-10" title="Print Notes" ng-if="RoleName == 'Attorney'" ng-click="PrintNote()"><i class="icon-copy mr-5 font-12"></i>Print</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body pnl-back-grey pa-10 overflow-auto NoteScrollBar cls-box-lg-height">
        <div class="row">
            <div class="col-sm-12">
                <ul class="media-list">
                    <li class="media cls-note " ng-repeat="item in PartNoteList" ng-class="item.Note == 'This Part Needs Chronology' ? 'ChronologyClass':''">
                        @*<div class="media-left">
                                <a href="#" class="btn border-pink text-pink btn-flat btn-rounded btn-icon btn-xs"><i class="icon-statistics"></i></a>
                            </div>*@
                        <div class="media-body">
                            <label ng-if="item.IsPublic && RoleName!='Attorney'" class="pull-right label bg-blue">Client</label>
                            <label ng-if="!item.IsPublic" class="pull-right label bg-success-400">Internal</label>
                            <br />
                            {{item.Note}}
                            <div class="media-annotation"> {{item.DtsInserted | date:'medium'}} <span class="pull-right">{{item.FirstName +' '+item.LastName }}</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="modal_PartNote" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <form name="PartNoteform" class="form-horizontal" novalidate>
                <div class="modal-content">
                    <div class="modal-header bg-main">
                        <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
                        <h5 class="modal-title">Notes</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-container">
                            <div id="messages">
                                <div class="alert alert-danger alert-dismissible validationErrors" ng-show="(PartNoteform.$submitted && !PartNoteform.$valid)">
                                    <ul ng-show="(PartNoteform.$submitted && (!PartNoteform.$valid))">
                                        <li ng-show="PartNoteform.assgnto.$error.required">Select Assign To.</li>
                                        <li ng-show="PartNoteform.Internalstatus.$error.required">Select Internal Status</li>
                                    </ul>
                                </div>
                            </div>
                            <fieldset>                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2 lbl-primary">Quick Notes</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="Quicknote" ng-model="PartNoteObj.PartStatusId" ng-options="item.PartStatusId as item.PartStatus for item in QuickNoteList" ng-change="FillNote()">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Internal Notes</label>
                                            <div class="col-sm-8">
                                                <textarea rows="4" class="form-control" ng-model="PartNoteObj.NotesInternal"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Client  Notes</label>
                                            <div class="col-sm-8">
                                                <textarea rows="4" class="form-control" ng-model="PartNoteObj.NotesClient"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>


                            <fieldset>
                                <legend class="text-semibold">
                                    <i class="icon-reading position-left"></i>
                                    Responsibilities
                                </legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Assign To</label>
                                            <div class="col-sm-8">
                                                <div id="ddlassignedTo" custom-select="item.EmpId as item.EmployeeName for item in EmployeeList | filter: $searchTerm" ng-model="PartNoteAssgnTo"></div>
                                                @*<select class="form-control" name="assgnto" ng-model="PartNoteObj.AssgnTo" ng-options="item.EmpId as item.EmployeeName for item in EmployeeList" required>
                                                        <option value="">-- Select --</option>
                                                    </select>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Set Internal Status</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="Internalstatus" name="Internalstatus" ng-model="PartNoteObj.InternalStatusId" ng-options="item.InternalStatusId as item.InternalStatus for item in InternalStatusList" required>
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend class="text-semibold">
                                    <i class="icon-calendar position-left"></i>
                                    Dates
                                </legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Ordered</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.OrdDate" ng-disabled="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">No Records</label>
                                            <div class="col-sm-8">
                                                <div class="input-group myDatePicker date">
                                                    <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.NRDate">
                                                    <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Entered</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.EntDate" ng-disabled="true">
                                                @*<div class="input-group myDatePicker date" ng-disabled="true">
                        <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Hold</label>
                                            <div class="col-sm-8">
                                                <div class="input-group myDatePicker date">
                                                    <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.HoldDate">
                                                    <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">First Call</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.FirstCall" ng-disabled="true">
                                                @*<div class="input-group myDatePicker date">

                        <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Cancel</label>
                                            <div class="col-sm-8">
                                                <div class="input-group myDatePicker date">
                                                    <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.CanDate">
                                                    <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Due</label>
                                            <div class="col-sm-8">
                                                <div class="input-group myDatePicker date">
                                                    <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.DueDate">
                                                    <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Callback</label>
                                            <div class="col-sm-8">
                                                <div class="input-group myDatePicker date">
                                                    <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.CallBack">
                                                    <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary pt-0 lh-15">Authorization Received</label>
                                            <div class="col-sm-8">
                                                <div class="input-group myDatePicker date">
                                                    <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.AuthRecDate">
                                                    <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary pt-0 lh-15">Remove Callback</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="checkbox" ng-model="IsCallBack" ng-checked="IsCallBack" ng-change="RemoveCallBack()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 
                                  
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Request Send Date</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="Callback" ng-model="PartNoteObj.RequestSendDate" ng-disabled="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 lbl-primary">Attempt</label>
                                            <div class="col-sm-8">
                                                <div id="ddlAttempt" custom-select="item.ID as item.value for item in AttemptList | filter: $searchTerm" ng-model="PartNoteAssgnTo"></div>
                                                @*<select class="form-control" name="assgnto" ng-model="PartNoteObj.AssgnTo" ng-options="item.EmpId as item.EmployeeName for item in EmployeeList" required>
                                                    <option value="">-- Select --</option>
                                                    </select>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" title="Close" data-dismiss="modal">Close</button>
                        <input type="submit" value="Save" ng-click="SavePartNote(PartNoteform)" class="btn btn-primary" title="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="modal_ClientPartNote" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <form name="ClientPartNoteform" class="form-horizontal" novalidate>
                <div class="modal-content">
                    <div class="modal-header bg-main">
                        <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
                        <h5 class="modal-title">Notes</h5>
                    </div>
                    <div class="modal-body">
                        <div class="modal-container">
                            <div id="messages">
                                <div class="alert alert-danger alert-dismissible validationErrors" ng-show="(ClientPartNoteform.$submitted && !ClientPartNoteform.$valid)">
                                    <ul ng-show="(ClientPartNoteform.$submitted && (!ClientPartNoteform.$valid))">
                                        <li ng-show="ClientPartNoteform.txtNotesClient.$error.required">Note is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2 lbl-primary">Notes</label>
                                            <div class="col-sm-10">
                                                <textarea rows="4" class="form-control" name="txtNotesClient" ng-model="ClientPartNoteObj.NotesClient" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" title="Close" data-dismiss="modal">Close</button>
                        <input type="submit" value="Save" ng-click="SaveClientPartNote(ClientPartNoteform)" class="btn btn-primary" title="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



