<div class="modal-dialog modal-lg">
    <form name="step6form" class="form-horizontal" novalidate>
        <div class="modal-content">
            <div class="modal-header  bg-main">
                <button type="button" class="close" data-dismiss="modal" title="Close">&times;</button>
                <i class="icon-file-plus pull-left mr-10 mt-5"></i>
                <h6 class="modal-title">Locations</h6>
            </div>
            <div class="modal-body">
                <div class="modal-container">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-bottom text-left">
                            <li id="LocatonStep1" class="active" ng-click="ShowLocationSteps(1)"><a href="#" data-toggle="tab" title='Step 1'>Step 1 <i class="icon-location4 position-right"></i></a></li>
                            <li id="LocatonStep2" ng-click="ShowLocationSteps(2)"><a href="#" data-toggle="tab" title='Step 2'>Step 2 <i class="icon-location4 position-right"></i></a></li>
                            <li id="LocatonStep3" ng-click="ShowLocationSteps(3)"><a href="#" data-toggle="tab" title='Step 3'>Step 3 <i class="icon-location4 position-right"></i></a></li>
                            @*<li id="LocatonStep4" ng-click="ShowLocationSteps(4)"><a href="#" data-toggle="tab" title='Step 4'>Step 4 <i class="icon-location4 position-right"></i></a></li>*@
                        </ul>
                    </div>
                    <div id="messages">
                        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="(step6form.$submitted && !step6form.$valid)">
                            <ul ng-show="(step6form.$submitted && (!step6form.$valid))">
                                <li ng-show="step6form.Name1.$error.required">Name1 is required.</li>
                                <li ng-show="step6form.City.$error.required">City Name is required.</li>
                                <li ng-show="step6form.DepartmentId.$error.required">Department is required.</li>
                                <li ng-show="step6form.StateId.$error.required">State is required.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-10" ng-if="LocationStep1==true">
                        <div class="col-md-12 pl-0">
                            @*<label class="col-sm-2 control-label lbl-primary required">Location</label>*@
                            <div class="col-sm-2">
                                <input type="button" class="btn btn-group-sm" ng-click="LocationSearchPopup()" ng-disabled="IsEdit" value="Search Location" />
                            </div>
                            <div class="col-sm-8 pt-5">
                                <b>Location : </b>{{Name1}} {{Name2}}

                            </div>
                        </div>
                    </div>
                    <div class="row mb-10" ng-if="LocationStep1==true">
                        <div class="col-md-12 pl-10" ng-if="ErrorLocation">
                            <span class="wysiwyg-color-red text-bold">Please select Location.</span>
                        </div>
                    </div>
                    <div class="row mb-10" ng-hide="true">
                        <div class="col-md-12 pl-0">
                            <label class="col-sm-4 control-label lbl-primary required">Comment</label>
                            <div class="col-sm-8">
                                <textarea rows="3" name="Comment" placeholder="Comment" ng-model="OrderStep6Obj.comment" maxlength="3000" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10" ng-if="LocationStep1==true">
                        <div class="col-md-7 pl-0">
                            <label class="col-sm-9 control-label lbl-primary text-blue-800 text-bold">Would you like to request these records by means of:</label>
                        </div>
                        <div class="col-md-5 pl-0" ng-show="OrderStep6Obj.RequestMeansId == 2">
                            <input type="file" class="input" id="myfile" file-model="myFile" multiple="true" style="display:none;" onchange="angular.element(this).scope().UploadFile(event)" />
                            <button type="button" class="btn btn-primary" ng-click="FileUploadClick()">Upload File</button>
                            <span ng-if="ErrorFileUpload" class="wysiwyg-color-red text-bold">Please upoad a file.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row mb-12" ng-if="LocationStep1==true">
                                <div class="col-sm-6">
                                    <select name="Authorization" class="form-control" ng-model="OrderStep6Obj.IsAuthorization" ng-options="item.Id as item.Name for item in IsAuthorizationAry" ng-change="AuthorizationChange()"></select>
                                </div>
                                <div class="col-sm-6 pr-0">
                                    <select name="AuthOption" class="form-control" ng-model="OrderStep6Obj.RequestMeansId" ng-options="item.Id as item.Name for item in RequestMeansAry" ng-change="AuthorizationChange()"></select>
                                </div>
                            </div>
                            <div class="row mb-10" ng-if="LocationStep1==true">
                                <div class="col-md-12 pl-10" ng-if="ErrorAuthSubSelection || ErrorCreateUploadSelection">
                                    <span class="wysiwyg-color-red text-bold">Please select request.</span>
                                </div>
                            </div>
                            <div class="row mb-6 has-fixed-height" style="height:50px;" ng-if="LocationStep1==true">
                                <div class="col-md-12 pl-10">
                                    <label class="control-label lbl-primary text-orange-600 text-bold" ng-bind="InfomrationText"></label>
                                </div>
                            </div>



                        </div>

                        <div class="col-lg-6 mb-10" ng-show="OrderStep6Obj.RequestMeansId == 2 && LocationStep1 == true">
                            <div class="table-responsive table-grid">
                                <table class="table table-bordered table-framed">
                                    <thead>
                                        <tr role="row">
                                            <th class="dt-left sorting_disabled" tabindex="0" rowspan="1" colspan="1">FileName</th>
                                            <th class="dt-left sorting_disabled" tabindex="0" rowspan="1" colspan="1">Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-responsive table-grid" style="max-height:180px;overflow-y:scroll;">
                                <table class="table table-bordered table-framed" id="tblUploadFileList">
                                    <tbody>
                                        <tr class="odd" ng-repeat="item in UploadFileList">
                                            <td>{{item.FileName}}</td>
                                            <td class="text-center"><a href="javascript:void(0)" title="Delete" class="ico_btn cursor-pointer"><i class="icon-trash cursor-pointer" ng-click="deleteUploadedDocument($index,item.BatchId,item.FileName,item.FileId,item.PartNo)"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- #region ------ STEP 2 ------  -->

                    <div class="row mb-6" ng-if="LocationStep2==true">
                        <div class="col-md-12 pl-0">
                            <label class="col-sm-2 control-label lbl-primary">Scope Start Date:</label>
                            <div class="col-sm-4">
                                <div class="input-group myDatePicker date">
                                    <input type="text" class="form-control" name="ScopeStartDate" placeholder="Start Date" ng-model="OrderStep6Obj.ScopeStartDate" />
                                    <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-6 mt-10" ng-if="LocationStep2==true">
                        <div class="col-md-12 pl-0">
                            <label class="col-sm-2 control-label lbl-primary"> Scope End Date:</label>
                            <div class="col-sm-4">
                                <div class="input-group myDatePicker date">
                                    <input type="text" class="form-control" name="ScopeEndDate" placeholder="End Date" ng-model="OrderStep6Obj.ScopeEndDate">
                                    <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-6 mt-10" ng-if="LocationStep2==true">
                        <div class="col-md-12 pl-0">
                            <label class="col-sm-2 control-label lbl-primary pt-0">Additional Services:</label>
                            <div class="col-sm-4 pr-0">
                                <ul class="borderless pt-0 pl-0">
                                    <li class="col-sm-12 li-checkbox pl-0">
                                        <label class="lbl-checkbox">
                                            <input type="checkbox" name="IsRequireAdditionalService" ng-model="OrderStep6Obj.IsRequireAdditionalService"> Chronology / Nurse Review
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-12 pl-0 pr-0" ng-if="LocationStep2==true">
                        <label class="col-sm-2 control-label lbl-primary pt-0 required">Record Type:</label>
                        <div class="col-sm-10">
                            <ul class="borderless pt-0 pl-0">
                                <li class="li-checkbox col-sm-6 pl-0" ng-repeat="item in RecordTypeList | filter :{'IsLocationPageView':1}">
                                    <label class="lbl-checkbox" for="rb_{{item.Code}}" ng-class="{true: 'bg-disabled'}[OrderStep6Obj.IsOtherChecked]">
                                        <input id="rb_{{item.Code}}" type="radio" data-ng-model="OrderStep6Obj.RecordTypeId" ng-disabled="OrderStep6Obj.IsOtherChecked" data-ng-value="{{item.Code}}" />{{item.Descr}}
                                    </label>
                                </li>
                                <li class="li-checkbox col-sm-6 pl-0">
                                    <label class="lbl-checkbox bg-white" for="rb_OtherChecked">
                                        <input id="rb_OtherChecked" type="checkbox" data-ng-model="OrderStep6Obj.IsOtherChecked" data-ng-value="OrderStep6Obj.IsOtherChecked" />Other
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-12 pl-0 pr-0" ng-show="OrderStep6Obj.IsOtherChecked && LocationStep2==true">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label lbl-primary pt-0"></label>
                                <div class="col-sm-6">
                                    @*<select name="RecordTypeId" ng-model="OrderStep6Obj.RecordTypeId" class="form-control" ng-options="item.Code as item.Descr for item in RecordTypeList | orderBy:'Descr' ">
                                            <option value="">--Select--</option>
                                        </select>*@
                                    <div name="RecordTypeId" class="ml-0" custom-select="item.Code as item.Descr for item in RecordTypeList | filter: $searchTerm" ng-model="OrderStep6Obj.RecordTypeId"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-12" ng-if="ErrorRecordSelect && LocationStep2==true">
                        <label class="col-sm-2 control-label lbl-primary pt-0"></label>
                        <div class="col-md-6">
                            <span class="wysiwyg-color-red text-bold">Please select a Record Type.</span>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region ------ STEP 3 ------  -->

                    <div class="row mb-12 mt-10" ng-if="LocationStep3==true">
                        <label class="col-sm-2 control-label lbl-primary pt-0">Scope</label>
                        <div class="col-sm-9">
                            @*<textarea rows="8" name="scope" ng-model="OrderStep6Obj.Scope" class="form-control" style="resize:none;"></textarea>*@
                            <div id="divScope" ng-bind-html="OrderStep6Obj.Scope" class="htCommentTextArea editableScopeDiv" contenteditable="true">

                            </div>
                        </div>
                    </div>

                    <div class="row mb-12 mt-10" ng-if="LocationStep3==true">
                        <label class="col-sm-2 control-label lbl-primary pt-0">Comment</label>
                        <div class="col-sm-9">
                            <textarea rows="3" name="scope" ng-model="OrderStep6Obj.Comment" class="form-control" style="resize:none;"></textarea>
                        </div>
                    </div>

                    <!-- #endregion -->






                    <div class="row  mb-12 mt-15">
                        <div class="col-sm-1 pull-right" ng-if="NextLocatinStep==true && (LocationStep1==true || LocationStep2==true || LocationStep3==true)">
                            <button type="button" ng-if="NextLocatinStep==true && LocationStep1==true" class="btn btn-primary" ng-click="NextLocationStep('Step1')">Next</button>
                            <button type="button" ng-if="NextLocatinStep==true  && LocationStep2==true" class="btn btn-primary" ng-click="NextLocationStep('Step2')">Next</button>
                            @*<button type="button" ng-if="NextLocatinStep==true && LocationStep3==true" class="btn btn-primary" ng-click="NextLocationStep('Step3')">Next</button>*@
                        </div>
                        <div class="col-sm-1 pull-right" ng-if="PriviousLocatinStep==true && (LocationStep2==true || LocationStep3==true || LocationStep4==true)">
                            <button type="button" ng-if="PriviousLocatinStep==true && LocationStep2==true" class="btn btn-default" ng-click="PriviousLocationStep('Step2')">Back</button>
                            <button type="button" ng-if="PriviousLocatinStep==true && LocationStep3==true" class="btn btn-default" ng-click="PriviousLocationStep('Step3')">Back</button>
                            @*<button type="button" ng-if="PriviousLocatinStep==true && LocationStep4==true" class="btn btn-default" ng-click="PriviousLocationStep('Step4')">Back</button>*@
                        </div>

                    </div>
                    @*<div class="col-sm-6" style="position:fixed;bottom: 90px">
                            <div class="col-sm-2" ng-if="PriviousLocatinStep==true && (LocationStep2==true || LocationStep3==true || LocationStep4==true)">
                                <button type="button" ng-if="PriviousLocatinStep==true && LocationStep2==true" class="btn btn-default" ng-click="PriviousLocationStep('Step2')">Back</button>
                                <button type="button" ng-if="PriviousLocatinStep==true && LocationStep3==true" class="btn btn-default" ng-click="PriviousLocationStep('Step3')">Back</button>
                                <button type="button" ng-if="PriviousLocatinStep==true && LocationStep4==true" class="btn btn-default" ng-click="PriviousLocationStep('Step4')">Back</button>
                            </div>
                            <div class="col-sm-2" ng-if="NextLocatinStep==true && (LocationStep1==true || LocationStep2==true || LocationStep3==true)">
                                <button type="button" ng-if="NextLocatinStep==true && LocationStep1==true" class="btn btn-primary" ng-click="NextLocationStep('Step1')">Next</button>
                                <button type="button" ng-if="NextLocatinStep==true  && LocationStep2==true" class="btn btn-primary" ng-click="NextLocationStep('Step2')">Next</button>
                                <button type="button" ng-if="NextLocatinStep==true && LocationStep3==true" class="btn btn-primary" ng-click="NextLocationStep('Step3')">Next</button>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">Close</button>
                <button type="button" class="btn btn-primary" title="Save" ng-click="SubmitStep6(step6form)" ng-if="LocationStep3 == true">Save</button>
            </div>
        </div>
    </form>
</div>