<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-main">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Search Location</h5>
        </div>
        <div class="modal-body">
            <div class="modal-container">
                <div class="row mb-10">
                    <label class="lbl-primary text-bold">Search Existing Location From System By Typing Name Of Location In Below Search Box</label>
                    @*<label class="control-label lbl-primary pt-8">Search Existing Location From System By Typing Name Of Location In Below Search Box</label>*@
                </div>
                <div class="row mb-10">
                    <div class="col-md-10 pl-0" ng-hide="true">
                        <label class="col-sm-2 control-label lbl-primary pt-8">Search By:</label>
                        <ul class="borderless pt-0 pl-0">
                            <li class="li-checkbox col-sm-4 pl-0">
                                <label class="lbl-checkbox bg-white" for="rbtnLocName">
                                    <input type="radio" name="university" id="rbtnLocName" ng-model="searchCriteria" ng-value="'Name1'" ng-checked="searchCriteria"><span class="text-bold">Location Name</span>
                                </label>
                            </li>
                            <li class="li-checkbox col-sm-3 pl-0">
                                <label class="lbl-checkbox" for="rbtnDocName">
                                    <input type="radio" name="university" checked="checked" id="rbtnDocName" ng-model="searchCriteria" ng-value="'Name2'" ng-checked="searchCriteria"><span class="text-bold">Doctor Name</span>
                                </label>
                            </li>
                            <li class="li-checkbox col-sm-3 pl-0">
                                <label class="lbl-checkbox" for="rbtnBoth">
                                    <input type="radio" name="university" id="rbtnBoth" ng-model="searchCriteria" ng-value="'Both'" ng-checked="searchCriteria"><span class="text-bold">Both</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mb-10">
                    <div class="col-md-10 pl-0">
                        <label class="col-sm-2 control-label lbl-primary required pt-8">Search Text:</label>
                        <div class="col-sm-6 pl-0">
                            <input type="text" ng-model="searchText" spellcheck="false" id="SearchText" autofocus name="SearchText" maxlength="80" placeholder="Search" ng-keydown="($event.keyCode === 13) && GetLocationSearch()" class="form-control">
                        </div>

                        <div class="col-md-1">
                            <input type="button" value="Search" title="Search" name="Search" class="btn btn-primary" ng-click="GetLocationSearch()">
                        </div>
                        <div class="col-md-1 ml-20" ng-if="ShowAddNewLocation">
                            <input type="button" value="Add New Location" title="Add New Location" name="NewLocation" class="btn btn-primary" ng-click="AddNewLocation()">
                        </div>
                    </div>
                </div>
                <div class="row pt-10">
                    <div class="col-md-12">
                        <div class="form-group pb-0 mb-0">
                            <div class="table-responsive table-grid fixed-height" id="divLocationSearchGrid">
                                <table class="table table-bordered table-framed" id="tblSearchLocationGrid"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

    </div>

</div>
