<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="Axiom" connectionString="Data Source=SERVER;Initial Catalog=AxiomRewriteForDev;Persist Security Info=True;User ID=sa;Password=Sa@Cdpl" providerName="System.Data.SqlClient" />-->
    <add name="Axiom" connectionString="Data Source=SERVER;Initial Catalog=AxiomRewriteTesting;Persist Security Info=True;User ID=sa;Password=Sa@Cdpl" providerName="System.Data.SqlClient" />
    <!--<add name="Axiom" connectionString="Data Source=10.0.0.5;Initial Catalog=MR_Staging;Persist Security Info=True;User ID=MRAdmin;Password=whrnrxhddlf" providerName="System.Data.SqlClient" />-->
    <!--<add name="Axiom" connectionString="Data Source=192.168.0.14;Initial Catalog=AxiomRewrite;Persist Security Info=True;User ID=CallbackWeb;Password=NASaro46aHYDNUrVIVPi" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--DURATION IN MINUTE-->
    <add key="Duration" value="2"/>
    <add key="DocumentRoot" value="D:\Forms"/>
    <add key="PrinterName" value="Canon iR C3480i"/>
    <add key="FaxURL" value="https://192.168.0.5/ffws/v1/ofax"/>
    <add key="FaxUserName" value="admin"/>
    <add key="FaxPasword" value="admin"/>
    <add key="FaxSenderName" value="Axiom Requisition Copy Service"/>
    <add key="FaxEmail" value="records@axiomcopy.com"/>
    <add key="UploadRootCase3" value="C:\axiom\AttachFiles\"/>
    <add key="UploadRoot" value="C:\Axiom\OMTI\Depository\RecFiles\"/>
    <add key="isQATesting" value="true" />
    <add key="QAEmail" value="cement.staging@gmail.com" />
    <add key="CompanyLogoDirectory" value="D:\Projects\AxiomRewriteGit\Axiom.Web\assets\images\" />
    <add key="TestOrderNo" value="74259"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="cement.staging@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false"  userName="cement.staging@gmail.com" password="Tejas@123" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>