<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="Axiom" connectionString="Data Source=SERVER;Initial Catalog=AxiomRewriteForDev;Persist Security Info=True;User ID=sa;Password=Sa@Cdpl" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogEnabled" value="true"/>
    <add key="DebugEnabled" value="true"/>
    <add key="FollowUPDays" value="7"/>
    <add key="AxiomDuration" value="60"/>
    <add key="EmailReminderDuration" value="10"/>
    <add key="isQATesting" value="true" />
    <add key="QAEmail" value="cement.staging@gmail.com" />
    <add key="ProposalBaseFeeURL" value="http://localhost:8086/"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="cement.staging@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="cement.staging@gmail.com" password="Tejas@123"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
