<?xml version="1.0" encoding="UTF-8"?>
<Config>
  <!--
        API Key: To use this sample with Accusoft Cloud Services, you must place
        your API key here. You can get a key at http://cloudportal.accusoft.com.
  -->
  <ApiKey>{{acs_api_key}}</ApiKey>

  <!--
        Original document location.
        If this location is on network, make sure that PrizmService is running
        under a network account.
        If this location is on network, do not pass mapped drive path, instead pass
        absolute path like: \\computername\file.pdf
  -->


  <!--
        imagestamp file location.
        If this location is on network, make sure that PrizmService is running
        under a network account.
        If this location is on network, do not pass mapped drive path, instead pass
        absolute path like: \\computername\file.pdf
    -->
  <ImageStampPath>.\..\imagestamps</ImageStampPath>

  <!--
      Valid image file type
  -->
  <ValidImageStampTypes>.png,.jpg,.jpeg,.gif</ValidImageStampTypes>

  <MarkupsPath>.\..\annotations</MarkupsPath>
  <!--
      Location of files containing search terms.
      Used by Web API ../SearchTerms/<SearchTermsId>/Text or  ../SearchTerms/q/Text?SearchTermsId=<value>
      Returns json string of search term parameters.
  -->
  <SearchTermsPath>.\..\searchterms</SearchTermsPath>



  <PrizmApplicationServicesScheme>http</PrizmApplicationServicesScheme>
  <PrizmApplicationServicesHost>localhost</PrizmApplicationServicesHost>
  <PrizmApplicationServicesPort>3000</PrizmApplicationServicesPort>
  <DocumentPath>C:\Axiom\RecFiles\</DocumentPath>
  <!--<DocumentPath>C:\Axiom\OMTI\Depository\RecFiles\</DocumentPath>-->
  
</Config>

