<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Axiom" connectionString="Data Source=SERVER;Initial Catalog=AxiomRewriteForDev;Persist Security Info=True;User ID=axiom;Password=axiom@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Duration" value="100"/>
    <add key="ReadBarCodeSourceRoot" value="C:\Axiom\ReadBarcode\Source\"/>
    <add key="ReadBarCodeDestination" value="C:\Axiom\ReadBarcode\Destination\"/>
  </appSettings>
</configuration>