<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="smtp" type="System.Net.Configuration.SmtpSection" ></section>
      <section name="smtp_1" type="System.Net.Configuration.SmtpSection" ></section>
      <section name="smtp_4" type="System.Net.Configuration.SmtpSection" ></section>
      <section name="smtp_6" type="System.Net.Configuration.SmtpSection" ></section>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <mailSettings>
    <smtp deliveryMethod="Network" from="Axiom Requisition Staging">
      <network defaultCredentials="false" host="smtp.gmail.com" enableSsl="true" port="587" userName="mspsender@gmail.com" password="msp@sender!@#" />
    </smtp>

    <smtp_1  deliveryMethod="Network" from="support@axiomcopy.com" >      
      <network host="192.168.0.35" port="25" userName="acrc-copy\arsupport"  enableSsl="false" password="Email8164" />      
    </smtp_1>

    <smtp_4 deliveryMethod="Network" from="support@axiomlegallogic.com">
      <network host="192.168.0.35" port="25" userName="acrc-copy\arsupport" enableSsl="false" password="Email8164" />      
    </smtp_4>
    
    <smtp_6 deliveryMethod="Network" from="support@legaleaglecopy.com">
      <network host="192.168.0.35" port="25" userName="acrc-copy\arsupport" enableSsl="false" password="Email8164" />      
    </smtp_6>
    
  </mailSettings>  
  
  <connectionStrings>
    <!--<add name="Axiom" connectionString="Data Source=SERVER;Initial Catalog=AxiomRewriteLive;Persist Security Info=True;User ID=sa;Password=Sa@Cdpl" providerName="System.Data.SqlClient"/>-->
    <add name="Axiom" connectionString="Data Source=SERVER;Initial Catalog=AxiomRewriteTesting;Persist Security Info=True;User ID=sa;Password=Sa@Cdpl" providerName="System.Data.SqlClient"/>
    <!--<add name="Axiom" connectionString="Data Source=192.168.0.14;Initial Catalog=AxiomRewrite;Persist Security Info=True;User ID=CallbackWeb;Password=NASaro46aHYDNUrVIVPi" providerName="System.Data.SqlClient" />-->    
  </connectionStrings>
  <appSettings>

    <add key="AxiomFromEmail" value="support@axiomcopy.com" />
    <add key="LegalLogicFromEmail" value="support@axiomlegallogic.com" />
    <add key="LegalEagleFromEmail" value="support@legaleaglecopy.com" />
    <add key="EmailPassword" value="Email8164" />
    <add key="EmailHost" value="192.168.0.35" />
    <add key="EmailUsername" value="acrc-copy\arsupport" />
    
    
    <add key="Time1" value="00"/>
    <add key="Time2" value="01"/>
    <add key="Time3" value="02"/>
    <add key="Time4" value="03"/>
    
    <add key="LogEnabled" value="true"/>
    <add key="DebugMode" value="true"/>
    <add key="ServiceLogEnabled" value="true"/>
    <!-- SET FOLLOWUP DAYS -->
    <add key="FollowUPDays" value="7"/>
    <!--SET DURATIO IN MINUTES, THAT AT WHAT INTERVAL SERVICE SHOULD CHECK FROM DATABSE AND SEND AN EMAIL-->
    <add key="Duration" value="100"/>

    <add key="DocumentRoot" value="D:\Forms"/>
    <add key="UploadRoot" value="C:\Axiom\OMTI\Depository\RecFiles\"/>
    <!--Option 1 - mail-->
    <add key="MailPath" value="C:\Axiom\Records\Standard\"/>
    <add key="CertifiedPath" value="C:\Axiom\Records\Certified\"/>
    <add key="FaxURL" value="https://192.168.0.5/ffws/v1/ofax"/>
    <add key="FaxUserName" value="admin"/>
    <add key="FaxPasword" value="admin"/>
    <add key="FaxSenderName" value="Axiom Requisition Copy Service"/>
    <add key="FaxEmail" value="records@axiomcopy.com"/>

    <add key="isQATesting" value="true" />
    <add key="QAEmail" value="cement.staging@gmail.com" />
    
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="cement.staging@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false"  userName="cement.staging@gmail.com" password="Tejas@123" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
