<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<div class="page-content" ng-controller="AccessReportController">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title text-semibold"><i class="icon-file-stats mr-10 fs-19"></i>Report {{ReportName}}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2" ng-show="showFromToDate">
                    <div class="form-group">
                        <label class="control-label lbl-primary">From Date</label>
                        <div class="input-group myDatePicker date">
                            <input type="text" autocomplete="off" class="form-control" name="ToDate" placeholder="To Date" ng-model="AccessReport.StartDate">
                            <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-show="showFromToDate">
                    <div class="form-group">
                        <label class="control-label lbl-primary">To Date</label>
                        <div class="input-group myDatePicker date">
                            <input type="text" autocomplete="off" class="form-control" name="ToDate" placeholder="To Date" ng-model="AccessReport.EndDate">
                            <span class="input-group-addon cursor-pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-show="showCompany">
                    <div class="form-group">
                        <label class="control-label lbl-primary">Company</label>
                        <select name="CompanyID" class="form-control" ng-model="AccessReport.CompanyNo" ng-options="item.CompNo as item.CompName for item in companydropdownlist">
                            <option value="">-- All --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2" ng-show="ShowFirm">
                    <div class="form-group">
                        <label class="control-label lbl-primary">Firm</label>
                        <select class="form-control cls-firm1" name="FirmID" data-live-search="true" data-width="100%" data-size="15"
                                ng-model="AccessReport.FirmID" ng-options="item.FirmID as item.FirmName for item in firmList">
                            <option value="">-- All --</option>
                        </select>
                        @*<select name="FirmID" class="form-control" ng-model="AccessReport.FirmID" ng-options="item.FirmID as item.FirmName for item in firmList">
                        <option value="">-- All --</option>
                    </select>*@
                    </div>
                </div>
                <div class="col-md-2" ng-show="showCheckNumber">
                    <div class="form-group">
                        <label class="control-label lbl-primary">Check Number</label>
                        <input type="text" autocomplete="off" class="form-control" name="CheckNumber" placeholder="Check Number" maxlength="20" ng-model="AccessReport.CheckNumber">
                    </div>
                </div>
                <div class="col-md-2" ng-show="showSSN">
                    <div class="form-group">
                        <label class="control-label lbl-primary">SSN Number</label>
                        <input type="text" autocomplete="off" class="form-control" name="SSNNumber" placeholder="SSN Number" maxlength="10" ng-model="AccessReport.SSNNumber">
                    </div>
                </div>

            </div>
            <div class="row mb-10">
                <div class="col-md-2">
                    <button ng-click="DisplayReport()" class="btn btn-primary mr-5" title="Show Report">Show Report</button>
                    <button ng-click="DownloadReport()" ng-show="showDownloadButton" class="btn btn-primary mr-5" title="Download Report">Download Report</button>

                </div>
            </div>
            <div class="row mb-10" ng-show="showPartCount">
                <div class="col-md-2">
                    <label class="control-label lbl-primary">Total Parts&nbsp;&nbsp;{{TotalParts}}</label>
                </div>
            </div>
            <div class="row mb-10" ng-show="showAmount">
                <div class="col-md-2">
                    <label class="control-label lbl-primary">Invoice Amount&nbsp;&nbsp;{{BillAmount | number:2}}</label>
                </div>
            </div>
            <div class="row mb-10" ng-show="showBalance">
                <div class="col-md-2">
                    <label class="control-label lbl-primary">Invoice Balance&nbsp;&nbsp;{{BillBalance| number:2}}</label>
                </div>
            </div>
            <div class="row mb-10" ng-show="true">
                <div class="col-md-6">
                    <button ng-click="FilterRecord(30)" ng-show="ShowFilterButton" class="btn btn-primary mr-10" title="0 to 30 Days">30</button>
                    <button ng-click="FilterRecord(60)" ng-show="ShowFilterButton" class="btn btn-primary mr-10" title="31 to 60 Days">60</button>
                    <button ng-click="FilterRecord(90)" ng-show="ShowFilterButton" class="btn btn-primary mr-10" title="61 to 90 Days">90</button>
                    <button ng-click="FilterRecord(0)" ng-show="ShowFilterButton" class="btn btn-primary mr-10" title="90 Plus Days">90 Plus</button>
                    <button ng-click="FilterRecord(-1)" ng-show="ShowFilterButton" class="btn btn-primary mr-10" title="Clear Filter">Clear</button>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="table-responsive table-grid">
                        <table class="table table-bordered table-framed" id="tblReports"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap-select.js"></script>
</div>